body{
  font-family:'Helvetica', Arial;
  font-size:12px
  color: #444;
  font-weight:400px;
  margin-top:10px;
  margin-bottom:10px;
  margin-left: 300px;
  margin-right: 300px;
}
.blockquote {
  color:#d2081d;
  font-size: 1em;
  font-weight: 300;
}
.title {
  font-size:3em;
  text-transform:uppercase;
  font-weight: 400;
  background-color: ##000000;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  width:70%;
  min-width: 300px;
}
