/*styles for my resume*/
body {
  font-family:'Open Sans', Arial,sans-serif;
  color:#444;
  font-weight:400;
  margin-top: 10px;
  margin-bottom: 10px;
}
/*banner name at top*/
#name {
color:#33485e;
text-transform:uppercase;
text-align:center;
font-size:3em;
font-weight: 400;
border-bottom: 1px solid #33485e;
width:60%;
min-width:300px;
margin: 0 auto
}
/*title of website*/
.title {
  color:#33485e;
  text-transform:uppercase;
  font-size:1.5em;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
/*co-headings of website*/
.sectionheader {
  font-size:1.5em;
  text-transform:uppercase;
  font-weight: 400;
  background-color: #33485e;
  color:#ffffff;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  width:70%;
  min-width: 300px;
}
/*job titles from positions*/
.jobtitle{
  font-weight:600;
  font-size:1.5em;
}
/*places worked*/
.organization {
  font-size:1.25em;
  font-weight:400;
}
/*dates worked*/
.date {
  font-size:1em;
  font-weight:400;
  font-style:italic;
  margin-top: 2px

}
/*contact information*/
.menu  {
  font-size:1em;
  text-align:center;
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.menu li{
  display:inline;
}

#container {
  width:100%;
  font-weight: 400;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
}
/*education*/
#degrees{
  margin-top: 5px;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  font-weight: 400;

}

#do{
  margin-top: 5px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: 400;
}
